.navbar{
    padding: 10px 5%;
    background-color: rgba(0, 125, 138, 0.79) !important;
    width: 100%;

    
    .site_logo{
        max-height: 45px
    }

    .collapse{
        justify-content: end;
        .navbar-nav{
            margin: 0 !important;
        }
    }

    .nav-item:not(:first-child) {
        border-left: 1px solid #ffffff; /* Color y tamaño del borde */
        padding-left: 10px; /* Espacio entre el borde y el contenido */
    }
}

