.table-container{
    margin: 40px 10%;
    max-width: 80%;
    max-height: 500px;
    overflow-y: auto;
}
.table{
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    thead{
        position: sticky !important;
        .table-header th{
            vertical-align: middle;
            text-align: center;
            background-color: #009B81;
            color: white;
            font-weight: 500;
        }
    }    
    tbody{
        th, td{
            vertical-align: middle;
            text-align: center;
            font-weight: 300;
            a{
                text-decoration: none;
            }
        }
    }
    .apertura{
        white-space: nowrap !important;
    }
}
